<table cellpadding="1">
  <tr>

    <!-- Definition JSON -->
    <td>
      <b>Definition JSON</b>
    </td>
    <td class="align-right">
      <app-selection [selectionArray]="definitionSelection" (onChanged)="onDefinitionChanged($event)"></app-selection>
    </td>

    <!-- Workflow JSON -->
    <td>
      <b>Workflow JSON</b>
    </td>
    <td class="align-right">
      <app-selection [selectionArray]="workflowSelection" (onChanged)="onWorkflowChanged($event)"></app-selection>
    </td>
    <!-- Adapter -->
    <td>
      <b>Adapter</b>
    </td>
    <!-- Modeler JSON -->
    <td>
      <b>Modeler JSON</b>
    </td>

    <td class="align-right">
      <button (click)="buildModeler()">Build</button>
      <button (click)="refreshModelerData()">Refresh Modeler</button>
    </td>

  </tr>
  <tr>
    <!-- Definition JSON -->
    <td colspan="2">
      <textarea #definitionJsonElement rows="10" cols="50">
          </textarea>
    </td>

    <!-- Workflow JSON -->
    <td colspan="2">
      <textarea #workflowJsonElement rows="10" cols="50">
          </textarea>
    </td>
    <!-- Adapter -->
    <td nowrap>
      <app-selection [selectionArray]="adapterSelection" (onChanged)="onAdapterChanged($event)"></app-selection>
      ->
    </td>
    <!-- Modeler JSON -->
    <td colspan="2">
      <textarea #modelerJsonElement rows="10" cols="50">
          </textarea>
    </td>
  </tr>
</table>

<div *ngIf="modelerData">
  <vn-graph-modeler class="modeler-1" [data]="modelerData" (selected)="onModelerEvent($event)"></vn-graph-modeler>
</div>

<div *ngIf="modelerEvent">
  Selected {{ modelerEvent }}
</div>
